/* Youtube Link: https://www.youtube.com/watch?v=i7bW41JTL8U */
/* Created by Truzz Blogg */
/* https://www.youtube.com/c/TruzzBlogg/videos */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 100vw;
    height: 100vh;
}

 div.container h3 {
    color: #444;
    font-size: 24px;
    font-weight: 300;
    margin-top: 30px;
    text-align: center;
}

.color-select {
    width: 100vw;
    height: 50px;
    background-color: rgb(255, 254, 168);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.color-select div {
    background: rgb(6, 147, 207);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 30px;
    cursor: pointer;    
}

.color-select #red {
    background: rgb(207, 6, 23);
}

.color-select #blue {
    background: rgb(6, 147, 207);
}

.color-select #black {
    background: #333;
}
.color-select #yellow{
    background: yellow;
}
.color-select #green{
    background: green;
}
.color-select #brown{
    background: brown;
}
img{
    width: 400px;
    margin-left: 680px;
}
.nav{
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
}

.logo{
    font-size: 40px;
    font-family: 'open sans';
    color: white;
    font-weight: 100;
    margin-left: 50px;
}

.menu{
    display: flex;
}

.menu li{
   list-style: none; 
   margin: 15px;
}

.nav li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.5s ease;
    font-family: 'open sans';
}

.menu li a:hover{
    padding: 5px 15px;
    background-color: white;
    color: black;
    border-radius: 15px;
}
.contenedor{
    display: flex;
    width: 290px;
    height: 30px;
    font-size: 30px;
    line-height: 40px;
    position: absolute;
    top: 30px;
    right: 0;
    bottom: 0;
    left: 400px;
    overflow: hidden;
    color: white;
    margin-top: 10px;
  }
.listado{
    list-style: none;
    padding-left: 10px;
    animation: cambiar 8s infinite;
  }
  
  @keyframes cambiar{
    0%{margin-top: -10px;}
    20%{margin-top: -10px;}
    25%{margin-top: -50px;}
    50%{margin-top: -50px;}
    55%{margin-top: -90px;}
    80%{margin-top: -90px;}
    85%{margin-top: -50px;}
    95%{margin-top: -50px;}
    100%{margin-top: 0;}
  }
  .compra{
    list-style: none;
    padding-left: 10px;
    animation: fluye 8s infinite;
  }
  @keyframes fluye{
    0%{margin-top: -10px;}
    20%{margin-top: -10px;}
    25%{margin-top: -50px;}
    50%{margin-top: -50px;}
    55%{margin-top: -90px;}
    80%{margin-top: -90px;}
    85%{margin-top: -50px;}
    95%{margin-top: -50px;}
    100%{margin-top: 0;}

  }
.img {
    width: 600px;
    display: block;
    margin: 0 20px 30px;
    border: 2px solid black;
    box-shadow: 5px 5px 5px black;
}

.img:hover{
    transform: scale(1.1);
    transition: .3s;
}

/* PIE DE PÁGINA */

.pie_pagina{
    padding: 20px 0px;
    width: 100%;
    height: auto;
    background-color: black;
}

.pie_pagina .redes_sociales{
    text-align: center;
    padding-bottom: 10px;
}

.pie_pagina .redes_sociales i{
    color: white;
    font-size: 30px;
    padding: 0px 25px;
}

.pie_pagina, .pie_texto{
    text-align: center;
    font-size: 13px;
    color: white;
}

            /* slider */



footer p.h5{
    text-align: justify;
    padding-left: 30%;  
}

footer a{
    margin: auto;
    text-decoration: none;
    color: black;
    padding-left: 30%;
} 

footer a:hover{
    color: black;
}
footer{
    padding-bottom: 30px;
    background-color: rgb(184, 177, 177);
  }

  .btn-wsp{
    position: fixed;
    width: 55px;
    height: 55px;
    line-height: 55px;
    bottom: 30px;
    right: 30px;
    background: #0df053;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.3);
    z-index: 100;
  }
  .btn-wsp:hover{
    text-decoration: none;
    color: #0df053;
    background: #fff;
  }
  .btn-face{
    position: fixed;
    width: 55px;
    height: 55px;
    line-height: 55px;
    bottom: 100px;
    right: 30px;
    background: #317CC6;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.3);
    z-index: 100;
  }
  .btn-face:hover{
    text-decoration: none;
    color: #317CC6;
    background: #fff;
  }
  .original{
    margin-left: 450px;
  }
  .text1{
    text-align: center;
    font-size: 50px;
  }