/* NAVEGADOR */

.navbar-brand,
.nav-link {
    font-family: 'open sans';
}

.navbar-brand {
    font-size: 40px;
    font-family: 'open sans';
    margin-left: 50px;
}

nav {
    padding: 15px;
    width: 100%;
}

nav li a {
    margin-right: 15px;
}

/* 4 IMÁGENES CENTRALES */

.img {
    width: 600px;
    display: block;
    margin: 0 20px 30px;
    border: 2px solid black;
    box-shadow: 5px 5px 5px black;
}

.img:hover {
    transform: scale(1.1);
    transition: .3s;
}

/* PIE DE PÁGINA */

.pie_pagina {
    padding: 20px 0px;
    width: 100%;
    height: auto;
    background-color: rgb(46, 45, 45);
}

.pie_pagina .redes_sociales {
    text-align: center;
    padding-bottom: 10px;
}

.pie_pagina .redes_sociales i {
    color: white;
    font-size: 30px;
    padding: 0px 25px;
}

.pie_pagina .pie_texto {
    text-align: center;
    font-size: 13px;
    color: white;
}

footer {
    background-color: rgb(184, 177, 177);
    padding-bottom: 25px;
}

footer p.h5 {
    text-align: justify;
    padding-left: 30%;
}

footer a {
    margin: auto;
    text-decoration: none;
    color: black;
    padding-left: 30%;
}

footer a:hover {
    color: black;
}

/* BOTONES DE FB Y WSP */

.btn-wsp {
    position: fixed;
    width: 55px;
    height: 55px;
    line-height: 55px;
    bottom: 30px;
    right: 30px;
    background: #0df053;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
    z-index: 100;
}

.btn-wsp:hover {
    text-decoration: none;
    color: #0df053;
    background: #fff;
}

.btn-face {
    position: fixed;
    width: 55px;
    height: 55px;
    line-height: 55px;
    bottom: 100px;
    right: 30px;
    background: #317CC6;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
    z-index: 100;
}

.btn-face:hover {
    text-decoration: none;
    color: #317CC6;
    background: #fff;
}