h1{
    text-align: center;
    background-color: #FFBD33;
    padding: 10px;
}
nav ul{
    text-align: center;
   list-style-type: none;
}
nav li{
    display: inline-flex;
}
nav a{
    text-decoration: none;
    color: black;
    padding: 1px;
    width: 12em;
    
}
nav li:hover {
    background-color: #FFC300;
}
h2{
    text-align: center;
}
.gafas{
    text-align: center;
}
.bolso{
    text-align: center;
}
.gorra{
    text-align: center;
}
.cadena{
    text-align: center;
}
.reloj{
    text-align: center;
}