
            /* M E N Ú */
.nav{
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
}

.logo{
    font-size: 40px;
    font-family: 'open sans';
    color: white;
    font-weight: 100;
    margin-left: 50px;
}

.menu{
    display: flex;
}

.menu li{
   list-style: none; 
   margin: 15px;
}

.nav li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.5s ease;
    font-family: 'open sans';
}

.menu li a:hover{
    padding: 5px 15px;
    background-color: white;
    color: black;
    border-radius: 15px;
}

        /* I M G */
.img{
    margin: 20px ; 
    box-shadow: 5px 5px 5px black;
}

h4, p{
    font-family: 'open sans';
}
iframe{
    width: 400px;
    height: 400px;
}

       /* PIE DE PÁGINA */
.pie_pagina{
    padding: 20px 0px;
    width: 100%;
    height: auto;
    background-color: black;
}
          
.pie_pagina .redes_sociales{
    text-align: center;
    padding-bottom: 10px;
}
          
.pie_pagina .redes_sociales i{
    color: white;
    font-size: 30px;
    padding: 0px 25px;
}
          
.pie_pagina .pie_texto{
    text-align: center;
    font-size: 13px;
    color: white;
}

footer{
    background-color:  rgb(184, 177, 177);
}
footer p.h5{
    text-align: justify;  
    padding-left: 30%;
}
          
footer a{
    margin: auto;
    text-decoration: none;
    color: black;
    padding-left: 30%;
    /* padding-bottom: 30px; */
} 
footer a:hover{
    color: black;
}

        /* F O R M U L A R I O */

.container-form{
    border: 2px solid red;
    max-width: 600px;
    margin-top: 3em;
    margin: auto;
    background-image: url(./img/nosotros.img/calabasas.jpg);
    padding: 3em;
    border-radius: 15px;
    margin-bottom: 20px;
}

label{
    width: 100%;
    text-align: center;
    padding: 5px;
    color: aliceblue;
}

::placeholder{
    color: white;
}
input{
    background: transparent;
    border-radius: 5px;
    color: black;
    margin-bottom: 10px;
    background-color: red;
}

textarea{
    width: 100%;
    border: 2px solid black;
    border-radius: 5px;
    max-width: 300px;
    max-height: 150px;
    background-color: red;
    
}
.boton{
    margin-top: 20px;
    background-color: red;
    max-width: 100%;   
}
h5{
    text-align: center;
    font-family: 'open sans';
    color: white;
    text-shadow: 5px 5px 5px black;
}




footer{
    padding-bottom: 30px;
    background-color: rgb(184, 177, 177);
  }

  /* estilo formulario */

form{  
    max-width: 600px;
    background-color: white;
    box-shadow: 2px 1px 12px rgb(224, 61, 2) ;
    margin-top: 6em ;
    
    border-radius: 12px ;
    padding: 2em 2em 2em ;
    background-image: url(/PAGINAWEB/img/nosotros.img/calabasas.jpg);   
}

.tabla_titulo{
    text-align: left;
    color: grey;
}

input, textarea {

    width: 100%;
    margin: 0.2em ;
    padding: .8em;
    max-width: 500px;
    border: none;
    border: 1px solid red;
    border-radius: 10px;
}

textarea{
    max-height: 200px;
    min-height: 100px;
    text-align: center;
}
.boton{
    background-color: red;
    color: #fff;
}
.boton:hover{
    color: black;
    
}
label{
    width: 100%;
    text-align: center;

}
.p{
    text-align: left;
    color: white;
    font-family: 'open sans';
}

/* estilo formulario */

