/* NAVEGADOR */

.navbar-brand,
.nav-link {
  font-family: 'open sans';
}

.navbar-brand {
  font-size: 40px;
  font-family: 'open sans';
  margin-left: 50px;
}

nav {
  padding: 15px;
  width: 100%;
}

nav li a {
  margin-right: 15px;
}

/* CONTENIDO */

.img-fluid {
  border: 1px solid black;
  box-shadow: 5px 5px 5px rgb(151, 149, 149);
  border-radius: 10px;
  margin-bottom: 10px;
}

.img-fluid:hover {
  transform: scale(1.1);
  transition: .3s;
}

.p1 {
  text-align: center;
  font-size: 30px;

}

h2 {
  text-align: center;
  font-size: 50;

}

select {
  border-radius: 30px;
  background-color: #a89332;
  box-shadow: 5px 5px 10px #a89332;
  display: block;
  color: white;
  padding: 3px 30%;
  width: 100%;
}

h3 {
  text-align: center;
  margin: 50px;
  font-size: 30px;
  text-decoration: overline;
}

.img-fluid:hover {
  transform: scale(1.1);
  transition: .3s;
}

p {
  font-size: 20px;
  text-align: center;
  font-family: 'Open Sans';
}

/* PIE DE PÁGINA */

.pie_pagina {
  padding: 20px 0px;
  width: 100%;
  height: auto;
  background-color: rgb(46, 45, 45);
}

.pie_pagina .redes_sociales {
  text-align: center;
  padding-bottom: 10px;
}

.pie_pagina .redes_sociales i {
  color: white;
  font-size: 30px;
  padding: 0px 25px;
}

.pie_pagina .pie_texto {
  text-align: center;
  font-size: 13px;
  color: white;
}

footer {
  background-color: rgb(184, 177, 177);
  padding-bottom: 25px;
}

footer p.h5 {
  text-align: justify;
  padding-left: 30%;
}

footer a {
  margin: auto;
  text-decoration: none;
  color: black;
  padding-left: 30%;
}

footer a:hover {
  color: black;
}