
/* NAVEGADOR */

.navbar-brand,
.nav-link {
    font-family: 'open sans';
}

.navbar-brand {
    font-size: 40px;
    font-family: 'open sans';
    margin-left: 50px;
}

nav {
    padding: 15px;
    width: 100%;
}

nav li a {
    margin-right: 15px;
}

/* I M G */
img {
    /* margin-left: 300px;*/
    margin-top: 10px; 
}

h4,
p {
    font-family: 'open sans';
}

iframe {
    width: 400px;
    height: 400px;
}


/* PIE DE PÁGINA */

.pie_pagina {
    padding: 20px 0px;
    width: 100%;
    height: auto;
    background-color: rgb(46, 45, 45);
}

.pie_pagina .redes_sociales {
    text-align: center;
    padding-bottom: 10px;
}

.pie_pagina .redes_sociales i {
    color: white;
    font-size: 30px;
    padding: 0px 25px;
}

.pie_pagina .pie_texto {
    text-align: center;
    font-size: 13px;
    color: white;
}

footer {
    background-color: rgb(184, 177, 177);
    padding-bottom: 25px;
}

footer p.h5 {
    text-align: justify;
    padding-left: 30%;
}

footer a {
    margin: auto;
    text-decoration: none;
    color: black;
    padding-left: 30%;
}

footer a:hover {
    color: black;
}

/* FORMULARIO */

.datos {
    border: 2px solid red;
    max-width: 600px;
    margin: auto;
    padding: 1em;
    border-radius: 15px;
    background-image: url(/public/img/nosotros.img/navi1.jpg);
    margin-top: 30px;
    margin-bottom: 20px;
}

.envio {
    max-width: 100%;
    border: 1px solid black;
    color: white;
    background-color: black;
    border-radius: 30px;
    margin-left: 200px;
    padding: 15px;
}
/* .btn-primary{
    margin: 0;
    padding: 6px 12px;
} */


h5 {
    text-align: center;
    color: rgb(150, 14, 14);
    font-weight: bold;
}

/*FIN DE FORMULARIO*/


footer {
    padding-bottom: 30px;
    background-color: rgb(184, 177, 177);
}
